.Room_Update_wrapper{
    width: 100%;
    /* height: calc(100vh - 100px); */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.Room_Update_Form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    padding: 10px;
    gap: 15px;
}

.Room_Update_Form_Header{
    display:flex;
    flex-direction: column;
    border-bottom: 3px solid blue;
    width: 50%;
}

.Room_Update_Form_Header > label {
    font-size: 0.7rem;
    font-weight: 600;
}

.Room_Update_Form_Header > span{
    font-size: 1.8rem;
    font-weight: 900;
    font-family: sans-serif;
}

.Room_Update_Form_Table{
    width: calc(100% -20px);
    padding: 10px;
    border-collapse: collapse;
    /* border: 1px solid black; */
}

.Room_Update_Form_Table > tbody{
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding-bottom: 1rem;
}

.Room_Update_Form_Table > tbody > tr > td{
    width:190px;
    padding-left: 10px;
    text-align: left;
    height:25px;
}

.Room_Update_Form_Table > tbody > tr > td > input:focus{
    outline: none;
}

.Room_Update_Form_Table > tbody > tr > td:nth-child(odd){
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.Room_Update_Form_Footer{
    /* border: 1px solid yellow; */
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Room_Update_Form_Footer > button {
    font-size: 12px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 100ms ease-in;
    /* opacity: 0.9; */
  }
  
  .Room_Update_Form_Footer > button:hover{
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);  transform: scale(1.05);
  }