.Admin_panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.admin_panel_container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.admin_panel_component_holder {
  display: flex;
  flex-direction: column;
  transition: 1s ease;
  overflow-x: hidden;
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.admin_panel_component_holder::-webkit-scrollbar {
  display: none;
}

.Admin_panel_header > label {
  display: flex;
  padding-left: 1rem;
  background: #d12f7022;
  font-size: 1.3rem;
  font-weight: bold;
  height: 47px;
  align-items: center;
  text-align: left;
  min-width: 300px;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.Admin_panel_cards_container {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--veryLightGray);
}

.box > label {
  color: var(--grayishBlue);
  font-size: 3rem;
  font-weight: bolder;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
}

@media (max-width: 450px) {
  .box {
    height: 150px;
    min-width: 150px;
  }
  .Admin_panel_header label {
    padding: 0.5rem 1rem;
    background: #d12f7022;
    font-size: 1.3rem;
    font-weight: bold;
    height: 30px;
    text-align: left;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 150px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

/* .cyan:hover {
  border: 3px solid var(--cyan);
} */

.red {
  border-top: 3px solid var(--red);
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

/* .red:hover {
  border: 3px solid var(--red);
} */

.blue {
  border-top: 3px solid var(--blue);
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

/* .blue:hover {
  border: 3px solid var(--blue);
} */

.orange {
  border-top: 3px solid var(--orange);
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

/* .orange:hover {
  border: 3px solid var(--orange);
} */

#h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;
  }
}

.MenuTable {
  margin-top: 1rem;
  width: calc(100% - 2rem);
  min-height: 450px;
  padding: 0.3rem 1rem;
  background: rgba(250, 193, 236, 0.243);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MenuTable > h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 2px solid blue;
  width: 200px;
  padding: 0.1rem 1rem;
}

.MenuTable > table {
  width: 80%;
  border-collapse: collapse;
}

.MenuTable > table > thead {
  width: 100%;
}

.MenuTable > table > thead > tr {
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 1px solid grey;
}

.MenuTable > table > tbody {
  width: 100%;
}

.MenuTable > table > tbody > tr {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid lightgrey;
  padding-left: 3rem;
}

.MenuTable > table > thead > tr > td {
  width: 20%;
}

.MenuTable > table > tbody > tr > td {
  width: 20%;
}

#day_td {
  font-size: 1rem;
  font-weight: 700;
}

.MenuTable > table > tbody > tr > td > input {
  outline: none;
  background: inherit;
  text-align: center;
  height: 30px;
  border: 1px solid rgba(250, 193, 236, 0);
}

.MenuTable > table > tbody > tr > td > input:focus {
  border: 1px solid green;
}

.menu_controll {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 0;
}

.menu_controll > button {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px 15px;
}

.menu_controll > button:hover {
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  transform: scale(1.02);
}

.menu_controll > button:disabled {
  opacity: 0.8;
}

.Workers_details{
  width: 100%;
  background: rgba(205, 143, 222, 0.44);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.Workers_details > h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 2px solid blue;
  width: 200px;
  padding: 0.1rem 1rem;
}

.Workers_details > table{
  width: 80%;
  border-collapse: collapse;
  text-align: left;
}

.Workers_details > table > thead {
  width: 100%;
}

.Workers_details > table > thead > tr {
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 2px solid white;
}

.Workers_details > table > tbody {
  width: 100%;
}

.Workers_details > table > tbody > tr {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid whitesmoke;
  padding-left: 3rem;
}

.Workers_details > table > thead > tr > td {
  padding-left: 1rem;
  text-align: center;
  color: rgb(99, 51, 51);
}

.Workers_details > table > tbody > tr > td {
  padding-left: 1rem;
  text-align: center;
}

.Workers_details > table > tbody > tr > td>input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid green;
  background: inherit;
  outline: none;
  height: 35px;
  text-align: center;
}

.Workers_details > table > tbody > tr > td>input:focus {
  width: 100%;
  border-bottom: 1px solid green;
  background: inherit;
  outline: none;
}


.Workers_details > table > tbody > tr > td > button{
  background: orangered;
  padding: 4px 10px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  width: 75px;
  opacity: 0.9;
}

.Workers_details > table > tbody > tr > td > button:hover {
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  transform: scale(1.02);
  opacity: 1;
}

.Workers_details > table > tbody > tr > td > button:disabled {
  opacity: 0.8;
}

button:disabled{
  opacity: 0.8;
  cursor: not-allowed;
}

.Staff_ADD_button {
  background: orangered;
  padding: 4px 10px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  width: 100px;
  padding: 10px 20px;
  opacity: 0.9;
}

.Staff_ADD_button:hover {
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  transform: scale(1.02);
  opacity: 1;
}