.Admin_panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Admin_panel::-webkit-scrollbar {
  display: none;
}

.admin_panel_container{
    display: flex;
    width: 100%;
    flex-direction: row; 
}

.admin_panel_component_holder{
    border: 1px solid red;
    transition: 1s ease;
}